.body {
  font-family: Roboto, sans-serif;
}

.logo {
  height: 64px;
  margin: 0;
  background: #ffd333;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-layout-sider {
  overflow-y: auto !important;
  max-height: 100vh !important;
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-sider::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}

main {
  overflow-y: auto;
}

.ant-layout-header * {
  line-height: normal;
}
.ant-layout-header .user-name{
  font-size: 14px;
} 
.ant-layout-header .user-email{
  font-size: 13px;
}